/* allison-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Allison";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/allison-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* handlee-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/handlee-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 790px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transform-style: preserve-3d;
}

.card section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;
}

@media (max-width: 500px) {
  .card {
    max-height: 100vh;
  }
}

.front {
  position: relative;
  background-color: white;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
}

.back {
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
  transform: rotateY(180deg);
  display: grid;
  place-content: center;
}

.headline {
  position: absolute;
  top: 70%;
  width: 100%;
  z-index: 2;
  text-align: center;
}

p {
  margin: 0 0 10px 0;
}

.postcardimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
